.table {
    font-family: 'Arimo', sans-serif;
    border-collapse: collapse;
    margin: calc(50vh - 290px) auto;
    outline: 20px solid #3a4965;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}

.table-row, .table-data {
    height: 70px;
    width: 277px;
    vertical-align: middle;
    border-left: 1px solid rgba(0,0,0,0.25) ;
}

.fas, .far {
    font-size: 24px;
    padding-right: 10px;
}

.green {
    color: #fff;
    background-color: #89c331;
}
.red {
    color: #fff;
    background-color: #f04a56;
}
.blue {
    color: #fff;
    background-color: #20807c;
}
.grey {
    color: #fff;
    background-color: #484848;
}

.table-head {
    background-color: #fafafa;
}
.table-head .table-row:nth-child(1) .table-data:nth-child(1){
    font-size: 18px;
    vertical-align: bottom;
    font-weight: bold;
}
.table-head .table-row:nth-child(2) .table-data:nth-child(1){
    font-size: 30px;
    vertical-align: top;
    height: 86px;
    font-weight: bold;
}

.table-head .table-row:nth-child(odd) .table-data:nth-child(2n) {
    font-size: 24px;
    font-weight: bold;
}
.table-head .table-row:nth-child(odd) .table-data:nth-child(3n) {
    font-size: 30px;
    font-weight: bold;
}

.price {
    position: relative;
    font-size: 60px;
    font-weight: bold;
}
.price::before {
    content: '\0024';
}
.price::after {
    content: '.99';
    position: absolute;
    font-size: 26px;
    top: 10px;
}

.table-body .table-row:nth-child(odd) {
    background-color: #f2f2f2;
}
.table-body .table-row:nth-child(even) {
    background-color: #e3e3e3;
}

.table-foot .table-row .table-data:nth-child(1) {
    background-color: #dddddd;
    height: 110px;
}
.table-foot .table-row .table-data:nth-child(2n) {
    background-color: #eeeeee;
}
.table-foot .table-row .table-data:nth-child(3n) {
    background-color: #f4f4f4;
}

.button {
    display: inline-block;
    width: 192px;
    height: 49px;
    box-sizing: border-box;
    border-radius: 5px;
    padding-top: 18px;
    border-bottom: 7px solid rgba(0,0,0,0.25);
    transition-duration: .2s;
}

.button:hover {
    transform: scale(1.2);
}
